# requirements.txt

# --- Servidor Web y Sockets ---
aiohttp
websockets
msgpack
msgpack-numpy

# --- Simulación y ML ---
torch
numpy
Pillow
imageio
opencv-python
snnTorch

# --- Utilidades ---
tqdm # si quieres barras de progreso
matplotlib
scikit-learn
scipy
ruff
