/* frontend/src/components/PanZoomCanvas.module.css */
.canvasContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1a1b1e; /* Color de fondo oscuro de Mantine */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.canvas {
    display: block;
    background-color: #000;
    cursor: grab;
}

.canvas:active {
    cursor: grabbing;
}
