/* frontend/src/components/LogOverlay.module.css */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    color: var(--mantine-color-gray-5);
    margin-bottom: var(--mantine-spacing-xs);
}

.logPaper {
    flex-grow: 1;
    background-color: rgba(26, 27, 30, 0.85);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
}

.scrollArea {
    flex-grow: 1;
    height: 0; /* Necesario para que flex-grow funcione */
    padding: var(--mantine-spacing-sm);
}

.logLine {
    font-family: var(--mantine-font-family-monospace);
    color: var(--mantine-color-gray-4);
    white-space: pre-wrap;
    word-break: break-all;
    margin: 0;
}
